/* =background
----------------------------------------------- */
body#activatepage {
    }
#activatepage #eventStatus {
    top: 0;    
    }
#activatepage #foxhelper {
    margin: auto;
    position: static;
    }
#activatepage #foxhelper .thefox {
    cursor: default;
    }
#activatepage #foxhelper .foxpanel {
    margin: auto;
    position: static;
    float: none;
    margin-top: -25px;
    }
#activatepage a {
    cursor: pointer;
    }
#activatepage .links {
    overflow: hidden;
    padding: 5px 0 5px 0;
    color: #999;
    font-size: 9px;
    }
#activatepage a.link {
    color: #26478F;
    text-decoration: underline;
    display: inline;
    font-size: 12px;
    margin: 0 5px 0 5px;
    }
#activatepage .view {
    display: none;
    }
#activatepage .view.on {
    display: block;
    }
#activatepage strong {
    font-weight: bold;
    }
#activatepage form {
    margin: 0 0 0 3px;
    display: block;
    overflow: hidden;
    }
#activatepage input {
    width: 250px;
    display: block;
    margin: 0 0 15px 0;
    font: bold 14px Verdana;
    padding: 5px;
    }
#activatepage .action {
    overflow: hidden;
    padding: 0 0 10px 0;
    }
#activatepage .action .button{
    margin: 0 5px 0 0;
    }
#activatepage .error {
    background: #9A0017 url('../img/ico/error.png') no-repeat 10px 10px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 15px 0;
    line-height: 1.5em;
    padding: 10px 10px 10px 35px;
    display: none;
    }
#activatepage .error.on {
    display: block;    
    }
#activatepage .info {
    font-weight: bold;
    margin: 0 0 15px 0;
    line-height: 1.5em;
    padding: 10px 10px 10px 35px;
    }
#activatepage .info.email {
    background: #C2F0F3 url('../img/ico/mail.png') no-repeat 10px 10px;
    }
#activatepage .info.hint {
    background: #BDF3C4 url('../img/ico/accept.png') no-repeat 10px 10px;    
    }
#activatepage .info em {
    text-decoration: underline;
    display: block;
    }
#activatepage .footer {
    text-align: center;
    color: #787878;
    width: 145px;
    display: block;
    margin: auto;
    padding: 10px 0 10px 0;
    background: url('../img/gray_fox.png') no-repeat left center;
    position: relative;
    z-index: 1100;
    margin-top: -40px;
    }

