/* =layout
----------------------------------------------- */
#unitView {
	overflow: auto;
	}
	
#unitView .content {
	width: 860px;
	float: left;
	margin-top: 20px;
	}

#unitView .unitnav {
	float: left;
	margin-top: 20px;
	}
#unitView .menu {
	float: left;
	width: 360px;
	}
#unitView .right {
	float: left;
	}
#unitView em {
	display: block;
	color: #666;
	font-weight: normal;
	width: 90%;
	overflow: hidden;
	padding: 0 0 5px 0;
	}

/* =property info
----------------------------------------------- */
#unitView .miniProp {
	overflow: hidden;
	padding: 0 0 0 15px;
	}
#unitView .miniProp .pic {
	float: left;
	}
#unitView .miniProp .info {
	float: left;
	margin-left: 10px;
	width: 200px;
	}
#unitView .miniProp h3 {
	font-size: 18px;
	padding-bottom: 3px;
	font-weight: normal;
	}
#unitView .miniProp p {
	line-height: 1.4em;
	font-size: 11px;
	}
#unitView .miniProp h3 a {
	color: blue;
	}
#unitView .miniProp a.mini.button {
	margin: 10px 0 0 0;
	}

/* =unit scroller styling
----------------------------------------------- */
#unitView .unitScroller .scrollFrame li.noFloorPlan {
	padding-left: 30px;
	color: #999;
	background: url('../img/ico/accept_gray.png') no-repeat 4px center;
	}
#unitView .unitScroller .scrollFrame li {
	padding-left: 30px;
	background: url('../img/ico/unit.png') no-repeat 4px center;
	}
#unitView .unitScroller .scrollFrame li.on {
	padding-left: 30px;
	background: #333 url('../img/ico/unit.png') no-repeat 4px center;
	}
#unitView .unitScroller .scrollFrame li:hover {
	background-color: #ddd;
	}
#unitView .unitScroller .scrollFrame li.on:hover {
	background-color: #333;
	}
	
/* =unit menu
----------------------------------------------- */
#unitView .menu .tenant {
	margin: 20px 15px 0 15px;
	border-top: 1px solid #ccc;
	padding: 15px 0 15px 0;
	overflow: hidden;
	display: none;
	}
#unitView .menu .tenant .person {
	display: none;
	}
#unitView .menu .tenant.no {
	padding-left: 80px;
	background: no-repeat url('../img/ico/group.png') 54px 14px;
	}
#unitView .menu .tenant .tenantedit {
	float: right;
	}
#unitView .menu .tenant .pic {
	float: left;
	}
#unitView .menu .tenant dl {
	float: left;
	margin: 0 0 0 10px;
	}
#unitView .menu .tenant dt {
	margin-bottom: 4px;
	font-weight: bold;
	}
#unitView .menu .tenant dt a {
	color: #0043db;
	cursor: pointer;
	}
#unitView .menu .tenant dd {
	margin-bottom: 4px;
	}
#unitView .menu .tenant .list {
	clear: both;
	padding: 5px 0 0 54px;
	}
#unitView .menu .tenant .list a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url("../img/ico/user_add.png") no-repeat;
	cursor: pointer;
	}
#unitView .menu .tenant .list a span {
	display: none;
	}
#unitView .menu .tenant .list ul {
	margin: 0 0 0 22px;
	}
#unitView .menu .tenant .list li {
	cursor: pointer;
	text-decoration: underline;
	margin: -3px 3px 0 0;
	float: left;
	padding: 3px;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	}
#unitView .menu .tenant .list li.on {
	background: #fff695;
	text-decoration: none;
	border-right: 1px solid #e0d87b;
	border-bottom: 1px solid #e0d87b;
	}
#unitView .menu .tenant .moremenu {
	z-index: 1;
	}
#unitView .menu .nav {
	position: relative;
	margin-right: -1px;
	}
#unitView .menu .nav li {
	margin-bottom: -1px;
	height: 71px;
	}
#unitView .menu .nav li.on {
	background: no-repeat top left url("../img/unit_nav_left_bar.png");
	}
#unitView .menu .nav dl {
	margin: 0 15px 0 15px;
	padding: 20px 10px 15px 55px;
	cursor: pointer;
	border-top: 1px solid #ccc;
	}
#unitView .menu .nav dl:hover {
	background: no-repeat url("../img/paw_gray.png") 10px 20px;
	}
#unitView .menu .nav dt {
	font-weight: bold;
	padding: 0 0 5px 25px;
	}
#unitView .menu .nav dd {
	padding: 0 0 0 25px;
	}
#unitView .menu .nav dd select {
	font: 10px Verdana;
	}
#unitView .menu .nav .pulsenav dt {
	background: no-repeat url("../img/ico/chart_line.png");
	}
#unitView .menu .nav .unit dt {
	background: no-repeat url("../img/ico/unit.png");
	}
#unitView .menu .nav .lease dt {
	background: no-repeat url("../img/ico/lease.png");
	}
#unitView .menu .nav .transactions dt {
	background: no-repeat url("../img/ico/money.png");
	}


/* =lease status
----------------------------------------------- */
#unitView .leaseStatus {
	margin: 0 0 10px 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
	background: #ddd;
	display: none;
	}
#unitView .leaseStatus.red {
	color: #fff;
	background: #990000;
	}
#unitView .leaseStatus.orange {
	color: #fff;
	background: #d85b00;
	}
#unitView .leaseStatus .mini.button {
	float: right;
	margin-top: -3px;
	}

/* =unit display
----------------------------------------------- */
#unitView .display {
	padding: 0 0 4px 0;
	background: no-repeat url("../img/unit_display_bottom.png") center bottom;
	}
#unitView .display > .wrap {
	padding: 4px 0 0 0;
	background: no-repeat url("../img/unit_display_top.png");
	}
#unitView .display > .wrap .module {
	background: #fff;
	width: 478px;
	min-height: 500px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: none;
	}
#unitView .display > .wrap .module > .wrap {
	padding: 20px;
	}

/* =unit module
----------------------------------------------- */
#unitView #unitModule  .unitedit {
	float: right;
	}
#unitView #unitModule .head .floorplan {
	float: left;
	margin: 10px 20px 0 0;
	border: 1px solid #ddd;
	cursor: pointer;
	}
#unitView #unitModule .head .floorplan .span {
	display: block;
	height: 90px;
	width: 120px;
	overflow: hidden;
	}
#unitView #unitModule .head .info {
	float: left;
	}
#unitView #unitModule .head .info h2 {
	font: bold 36px Georgia;
	}
#unitView #unitModule .head .info h3 {
	font: bold 14px Verdana;
	margin: 10px 0 2px 0;
	}
#unitView #unitModule .description {
	clear: both;
	padding: 20px 0 20px 0;
        line-height: 1.5em;
	font-size: 12px;
	width: 430px;
	}
#unitView #unitModule h5 {
	font: bold 11px Verdana;
	padding: 0 0 5px 0;
	}
    
/* =lease module
----------------------------------------------- */
#unitView #leaseModule .leaseOpts {
    float: right;
    }
#unitView #leaseModule h3 {
    font: bold 13px Verdana;
    padding: 9px 0 15px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px 0;
    width: 92%;
    }
#unitView #leaseModule .leaseDetails {
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
    }
#unitView #leaseModule .row {
    overflow: auto;
    font-size: 12px;
    margin-bottom: 15px;
    }
#unitView #leaseModule .left {
    float: left;
    width: 30%;
    font-weight: bold;
    }
#unitView #leaseModule .right {
    float: left;
    width: 70%;
    overflow: hidden;
    }
#unitView #leaseModule .right span {
    font-size: 10px;
    color: #666;
    margin: 0 10px 0 10px;
    }
#unitView #leaseModule .right div {
    font-size: 10px;
    color: #666;
    margin: 5px 0 0 0;
    }
#unitView #leaseModule .right .indented {
    margin-left: 25px;
    }
#unitView #leaseModule .view {
    display: none;    
    }
#unitView #leaseModule .editMode input.money {
    width: 75px;  
    }
#unitView #leaseModule .editMode input.mini {
    width: 35px;  
    }
#unitView #leaseModule .editMode input.date {
    width: 150px;
    background: url("../img/ico/date.png") no-repeat 2px center;
    padding: 0 0 0 25px;
    }
#unitView #leaseModule .editMode .break {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
    }
#unitView #leaseModule .editMode .button.cancel {
    float: right;
    }
#unitView #leaseModule .downloadLink {
	cursor: pointer;
	}
#unitView #leaseModule a.link {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	}
#unitView #leaseModule a.link.green {
	color: green;
	}
#unitView #leaseModule .lease-tenants li {
	margin-bottom: 10px;
	}
#unitView #leaseModule .lease-tenants li > img {
	cursor: pointer;
	margin: 0 0 0 10px;
	position: absolute;
	display: none;
	}
#unitView #leaseModule .lease-tenants li:hover > img {
	display: inline;
	}
#unitView #leaseModule .lease-tenants .button.mini {
	margin-left: -10px;
	}
    
/* =transaction module
----------------------------------------------- */
#unitView #transactionsModule .optButtons {
    padding-bottom: 10px;
    overflow: hidden;
    }
#unitView #transactionsModule .optButtons a {
    margin-right: 5px;
    }
#unitView #transactionsModule .list {
    clear: both;
    }
#unitView #transactionsModule .list .row {
    clear: both;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0 5px 30px;
    }
#unitView #transactionsModule .list .row.plus {
    background: no-repeat url("../img/ico/money_add.png") left 5px;
    }
#unitView #transactionsModule .list .row.minus {
    background: no-repeat url("../img/ico/money_delete.png") left 5px;
    }
#unitView #transactionsModule .list .row > div {
    float: left;
    }
#unitView #transactionsModule .list .row > .date {
    width: 100px;
    }
#unitView #transactionsModule .list .row > .type {
    width: 200px;
    }
#unitView #transactionsModule .list .row > .amount {
    width: 100px;
    float: right;
    text-align: right;
    }
#unitView #transactionsModule .list .row.minus > .amount {
    color: #ff0000;
    }
#unitView #transactionsModule .action {
    display: none;
    }
#unitView #transactionsModule .action .row {
    overflow: auto;
    font-size: 12px;
    margin-bottom: 15px;
    }
#unitView #transactionsModule .action .break {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
    }
#unitView #transactionsModule .action .left {
    float: left;
    width: 30%;
    font-weight: bold;
    }
#unitView #transactionsModule .action .right {
    float: left;
    width: 70%;
    overflow: hidden;
    }
#unitView #transactionsModule .action .right span {
    font-size: 10px;
    color: #666;
    margin: 0 10px 0 10px;
    }
#unitView #transactionsModule .action .right div {
    font-size: 10px;
    color: #666;
    margin: 5px 0 0 0;
    }
#unitView #transactionsModule .action input.money {
    width: 75px;  
    }
#unitView #transactionsModule .action input.date {
    width: 150px;
    background: url("../img/ico/date.png") no-repeat 2px center;
    padding: 0 0 0 25px;
    }
#unitView #transactionsModule .action textarea {
    width: 280px;
    height: 50px;
    padding: 10px;
    max-height: 200px;
    }
#unitView #transactionsModule .action em {
    color: #ff0000;
    text-decoration: underline;
    font-style: normal;
    }
#unitView #transactionsModule .action .button.cancel {
    float: right;
    }
#unitView #transactionsModule .nothing {
	clear: both;
	background: #ddd;
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}